@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
    format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
  --font-size-paragraph: 0.875rem;
  --font-family-young-serif: "Young Serif", serif;
  --font-family-outfit: "Outfit", serif;
}

/* macros */
.section--heading {
  color: var(--color-brown);
  font-family: var(--font-family-young-serif);
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1.3rem;
}

.all__list {
  color: var(--color-stone-600);
  font-weight: var(--font-size-paragraph);
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.all__list__item {
  line-height: 1.45;
  margin: 0.55rem 0;
  padding-left: 0.8rem;
}

.bold {
  font-weight: 700;
}

/* main code */

.main {
  height: 100%;
  width: 100vw;
}

.card {
  width: 100vw;
  background-color: var(--color-white);
  font-family: var(--font-family-outfit);
}

.card__image {
  width: 100%;
  height: 10.6rem;
  background: url(./assets/images/image-omelette.jpeg);
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}

.card__main {
  margin: 2.5rem;
}

.card__heading {
  font-family: var(--font-family-young-serif);
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 0.98;
  margin: 2.6rem 0 1.5rem 0;
}

.card__description {
  color: var(--color-stone-600);
  line-height: 1.5;
}

.card__timing {
  background-color: var(--color-rose-50);
  margin-top: 2rem;
  padding: 1.1rem 1.4rem;
  border-radius: 1rem;
}

.timing__heading {
  color: var(--color-rose-800);
  font-size: 1.3rem;
  font-weight: 600;
}

.timing__list {
  color: var(--color-stone-600);
  margin: 0.55rem 1.55rem;
}

.timing__list__item {
  line-height: 1.45;
  margin: 0.55rem 0;
  padding-left: 0.8rem;
}

.timing__list__item::marker {
  color: var(--color-rose-800);
}

.main__section {
  margin: 1.3rem 0;
  border-bottom: 0.0625rem solid var(--color-stone-150);
}

.instructions__list__item::marker {
  color: var(--color-brown);
  font-weight: 700;
}

.card__nutrition {
  padding-bottom: 2rem;
}

.nutrition__table {
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-collapse: collapse;
}

.table__row {
  border-bottom: 0.0625rem solid var(--color-stone-150);
}

.table__data {
  margin: 0;
  padding: 1rem 0;
}

.table__data--stone {
  width: 53%;
  color: var(--color-stone-600);
  padding-left: 2rem;
}

.table__data--brown {
  color: var(--color-brown);
  font-weight: 700;
}

.table__row:last-child {
  border: none;
}

.attribution {
  color: var(--color-stone-900);
  background-color: var(--color-stone-100);
  font-family: var(--font-family-outfit);
  font-size: 0.8rem;
  text-align: center;
}

.attribution__link {
  color: var(--color-brown);
}

/* media queries for resposiveness */

@media screen and (min-width: 656px) {
  .card__image {
    width: 89%;
    height: 18rem;
    margin: 2.5rem auto;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 736px) {
  .main {
    background-color: var(--color-stone-100);
    display: flex;
    justify-content: center;
  }

  .card {
    width: 46rem;
    margin: 7.5rem 0;
    border-radius: 2rem;
  }
}
